* {
    margin: 0px;
    padding: 0%;
}

.wrapper {
    width: 100%;
}

.img-banner {
    display: none;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: black;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color:black;
    line-height: 24px;
}

.img-Econ {
    width: 100%;
}

body {
    /* background-color: khaki; */
}

@media only screen and (min-width:768px) {
    .img-banner {
        display: block;
        height: 300px;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
        background-color: azure;
    }


    .img-info h2 {
        padding: 20px 0px 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        color: black;
        line-height: 44px;
    }
    
    .img-info p {
        padding: 0px 30px 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 16px;
        color:black;
        line-height: 24px;
    }

    .img-Econ {
        padding-top: 30px;
    }
}


@media only screen and (min-width:1000px) {
    .wrapper {
        width: 1000px;}
   

        .img-info {
            width: 50%;
            float: right;
        }

        img-info h2 {
            padding: 20px 0px 0px 30px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 50px;
            color: black;
            line-height: 44px;
        }
        
        .img-info p {
            padding: 20px 0px 0px 30px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 16px;
            color:black;
            line-height: 24px;
        }
        .img-Econ {
            padding-top: 0px;
            width: 50%;
            float: left;
        }


}

#latest {
    height: 700px;
    width: 100%;
}

.form {
    position: relative;
   
}

.form div{
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    background-image: linear-gradient(rgb(0,0,0,0.16), rgba(0, 0, 0, 0.541));
    background-position: absolute;
}

.form div input{
    padding: 10px;
    margin: 10px;
}

.form div fieldset{
    color: whitesmoke;
    font-size: 20px;
}